{% load static %}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About | ETC Solutions</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'assets/images/favicons/apple-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'assets/images/favicons/apple-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'assets/images/favicons/apple-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/images/favicons/apple-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'assets/images/favicons/apple-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'assets/images/favicons/apple-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'assets/images/favicons/apple-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'assets/images/favicons/apple-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'assets/images/favicons/apple-icon-180x180.png' %}">


    <!-- updated the icon pack -->
    <link rel='stylesheet' href='https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/unicons.css'>
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'new_assets/icons/enhanced_logo_2-removebg-preview.ico' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'new_assets/icons/enhanced_logo_2-removebg-preview.ico' %}">

    <link rel="icon" type="image/png" sizes="192x192" href="{% static '667462c456f4a8000f668e3e.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static '667462c456f4a8000f668e3e.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static '667462c456f4a8000f668e3e.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static '667462c456f4a8000f668e3e.png' %}">
    <link rel="manifest" href="{% static 'assets/images/favicons/manifest.json' %}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{% static 'assets/images/favicons/ms-icon-144x144.png' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/mobile.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
        integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
        crossorigin="anonymous" referrerpolicy="no-referrer">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css">
</head>

<body>
    <!-- HEADER-SECTION -->
    <div class="home-header-section sub-header-section">
        <div class="header-top header-top1">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 d-md-block d-sm-none">
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <div class="header-right float-md-right float-none">
                            <ul class="list-unstyled">
                                <li class="d-inline-block">Follow us on:</li>
                                <li class="d-inline-block user-li"><a
                                        href="https://m.facebook.com/etcsolutions1?mibextid=LQQJ4d" target="_blank"><i
                                            class="fa-brands fa-facebook-f"></i></a></li>
                                <li class="d-inline-block user-li"><a href="https://www.instagram.com/etcevents2021/"
                                        target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <header class="header">
            <div class="main-header">
                <div class="container">
                    <nav class="navbar navbar-expand-lg navbar-light p-0">
                        <img src="{% static '667462c456f4a8000f668e3e.png' %}" alt="" class="img-fluid diverge-logo">
                        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
                            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color home-margin-top"
                                        href="{% url 'Index' %}">Home<span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="{% url 'About' %}">About</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="{% url 'Services' %}">Services</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="{% url 'Gallery' %}">Gallery</a>
                                </li>
                                <!-- <li class="nav-item navbar-text-color"><a class="nav-link text-decoration-none contact-us-margin navbar-text-color" href="pricing.html">Pricing</a></li> -->
                                <li class="nav-item">
                                    <a class="nav-link text-decoration-none navbar-text-color"
                                        href="{% url 'Contact' %}">Contact</a>
                                </li>
                            </ul>

                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- BANNER-SECTION -->
        <div class="home-banner-section overflow-hidden position-relative sub-baner">
            <figure class="banner-img1 mb-0">
                <img src="{% static 'assets/images/banner-img1.png' %}" alt="" class="star">
            </figure>
            <figure class="banner-img2 mb-0">
                <img src="{% static 'assets/images/banner-img2.png' %}" alt="" class="star">
            </figure>
            <div class="banner-container-box">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 order-lg-2 order-1">
                            <div class="position-relative sub-banner-section" data-aos="fade-up" id="myContentDIV">
                                <h1>About<span class="h1-text"> Us<span id="etc_heading">!</span></span></h1>
                                <p class="banner-paragraph">

                                </p>
                                <!-- <div class="banner-btn discover-btn-banner">
                                    <a href="about.html" class="text-decoration-none"><i
                                            class="fa fa-clipboard-list"></i>Make Reservations</a>
                                </div> -->
                                <div class="banner-btn discover-btn-banner">
                                    <div class="btn-inner">Home -<span class="about-margin"> About</span></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About-us-section -->
        <div class="about-section about-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-1 order-1">
                        <div class="about-us-content aos-init aos-animate" data-aos="fade-up">
                            <h5 class="autorix-text"><span class="ityped">Who We Are</span><span
                                    class="ityped-cursor">|</span></h5>
                            <h2>Planner for Your Perfect Event</h2>

                            <p class="aboutus-p">Welcome to ETC Events, where we specialize in transforming your visions
                                into extraordinary events. With a passion for creativity and a commitment to excellence,
                                we provide comprehensive event management services for weddings, corporate events,
                                festive celebrations, and personal milestones such as baby showers and birthday
                                parties.Our dedicated team of professionals brings a wealth of experience and a keen eye
                                for detail to every project. Whether you’re planning an intimate gathering or a grand
                                celebration, we tailor our services to meet your specific needs, ensuring a seamless and
                                memorable experience.</p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 order-lg-2 order-2">
                        <div class="about-content-img">

                            <figure class="mb-0 about-banner-img"><img src="{% static 'assets/images/decor.jpeg' %}"
                                    style="border-top-right-radius: 50px; border-bottom-left-radius: 50px; border: 5px solid #99ccc9;"
                                    alt="" class="">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <div class="about-section about-page">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 order-lg-1 order-1">
                        <div class="about-us-content aos-init aos-animate" data-aos="fade-up">

                            <h2>Let<span id="etc_heading">'</span>s hear more from our director Mr. Karan Patel</h2>

                            <p class="aboutus-p">Are you planning a special event and feeling overwhelmed with work and
                                pressure? Let Karan Patel take the stress out of the planning process and make your
                                event a great success.
                                Let it be any event even if it is unique and never done before. Get a personalized and
                                seamless experience filled with creativity and freshness for you and your guests.
                                An event meant to be remembered forever in the hearts of the crowd.
                                Karan Patel can make any event memorable without letting you take a single burden with
                                his team and experience.
                            </p>
                        </div>
                    </div>
                    <div class="col-xl-5 col-lg-6 col-md-6 col-sm-12 order-lg-2 order-2">
                        <div class="about-content-img">

                            <br><br><br>
                            <figure class="mb-0 about-banner-img"><img src="{% static 'index_images/about_images/about.png' %}" style="border-top-right-radius: 50px; border-bottom-left-radius: 50px; border: 5px solid #99ccc9;" alt=""
                                    class="">
                            </figure>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- about-page -->
    <div class="about-section about-page-about-section">
        <figure class="design-img mb-0">
            <img src="{% static 'assets/images/categories-img6.png' %}" alt="" class="star">
        </figure>
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12 order-lg-2 order-1">
                    <div class="about-us-content aos-init aos-animate" data-aos="fade-up">
                        <figure class="mb-0 about-page-hearts">
                            <img src="{% static 'assets/images/about-page-hearts.png' %}" alt="" class="star">
                        </figure>
                        <h5 class="autorix-text aos-init aos-animate"><span class="ityped">About
                                ETC Events</span><span class="ityped-cursor">|</span></h5>
                        <h2>Why Choose Us?</h2>
                        <h3 class="aos-init aos-animate">What We do, We do With Passion</h3>
                        <p class="aboutus-p aos-init">
                        <ul>
                            <li>Expertise: Years of experience in managing a wide range of events.</li>
                            <li>Customization: Tailored solutions to fit your vision and budget.</li>
                            <li>Attention to Detail: Meticulous planning and execution to ensure perfection.</li>
                            <li>Passion: A dedicated team that loves what they do and strives to exceed your
                                expectations.</li>
                        </ul>
                        </p>
                    </div>
                </div>
                <div class="col-xl-7 col-lg-6 col-md-12 col-sm-12 order-lg-1 order-2">
                    <div class="about-content-img aos-init aos-animate">
                        <figure class="mb-0 about-section-f2"><img src="{% static 'index_images/index_image_2.png' %}"
                                style="border-top-right-radius: 50px; border: 5px solid #99ccc9;" alt="">
                        </figure>
                        <figure class="mb-0 about-section-f3"><img src="{% static 'index_images/index_image_3.png' %}"
                                style="border-top-right-radius: 50px; border-bottom-left-radius: 50px; border: 5px solid #99ccc9;"
                                alt="">

                        </figure>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="counter-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <figure class="counter-section-fig mb-0">
                        <img src="{% static 'assets/images/counter-section-img.png' %}" alt="">
                    </figure>
                </div>
            </div>
            <div class="counter-inner">
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="counter-inner-box vl-border">
                            <h5><span class="counter">550</span><span class="count-plus" id="etc_heading">+</span></h5>
                            <p>Weddings</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="counter-inner-box vl-right-border">
                            <h5><span class="counter" id="etc_heading">400</span><span class="count-plus" id="etc_heading">+</span></h5>
                            <p>Corporate Events</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="counter-inner-box">
                            <h5><span class="counter">200</span><span class="count-plus" id="etc_heading">+</span></h5>
                            <p>Festive Events</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                        <div class="counter-inner-box border-right-box locations-left">
                            <h5><span class="counter">150</span><span class="count-plus" id="etc_heading">+</span></h5>
                            <p>Other Events</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wedding-services">

                <div class="row">
                    <div class="col-xl-5 col-lg-6 col-md-12 col-sm-12">
                        <div class="about-us-content">
                            <h5 class="autorix-text"><span class="ityped">ETC Events Fun Facts</span><span
                                    class="ityped-cursor" id="etc_heading">|</span></h5>
                            <h2>Ratings of our work</h2>

                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
                        <div class="about-content-img">
                            <ul class="list-unstyled mb-0">
                                <li>
                                    <h6>Professionality</h6><span class="serivices-percent">85%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 85%;">
                                            <span class="sr-only">85% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h6>Decor</h6><span class="serivices-percent">95%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="70"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
                                            <span class="sr-only">95% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h6>Experience and Quality</h6><span class="serivices-percent">90%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="90"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 90%;">
                                            <span class="sr-only">90% Complete</span>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <h6>Guarantee</h6><span class="serivices-percent">100%</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="80"
                                            aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                                            <span class="sr-only">100% Complete</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Video-SECTION -->
    <!-- <section class="video-section-about">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h5 class="autorix-text aos-init aos-animate"><span class="ityped">Introduction Video</span><span class="ityped-cursor">|</span></h5>
                        <h2 class="aos-init aos-animate">ETC Events Presentation</h2>
                    <div class="video-section-conten" data-aos="fade-up">
                        <figure class="mb-0 video-section-image">
                            <img src="{% static 'assets/images/video-img.png' %}" alt="" class="fluid-img">
                        </figure>
                        <a class="popup-vimeo"
                            href="https://previews.customer.envatousercontent.com/h264-video-previews/5afc8770-eb05-42ec-b854-9fb6b3bb52c5/40068661.mp4">
                            <figure class="mb-0 vide-play-img">
                                <img src="{% static 'assets/images/video-play-icon.png' %}" alt="" class="fluid-img">
                            </figure>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </section> -->
    <!-- Event-Organizer-Section -->

    <!-- Story-Section -->

    <!-- Instagram-feed-section -->
    <section class="insta-feed-section">
        <figure class="mb-0 insta-feed-img">
            <img src="{% static './assets/images/Final testimonial/1.png' %}" id="testimonial" alt="" class="img-fluid star">
        </figure>
        <script>
            let counter = 2
            setInterval(()=>{
                document.getElementById("testimonial").src = `http://localhost:8000/static/assets/images/Final%20testimonial/${counter}.png`
                counter++
                if(counter == 4) {
                    counter = 1
                }
            }, 5000)
        </script>
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
               
                <figure class="insta-fig">
                    <img src="{% static './assets/images/insta-icon.png' %}" alt="">
                </figure>
              </div>
          </div>
          <h2>Instagram Feed</h2>
          <div class="row">
              <div class="col-lg-3 col-md-3 col-sm-6">
                <figure class="mb-0 insta-section-imgs">
                    <img src="{% static './assets/images/instagram/insta 1.jpg' %}" style="border: 3px solid white;" alt="" class="img-fluid">
                    <div class="hover_box_plus">
                        <a href="https://www.instagram.com/etcevents2021/" target="_blank"><i class="fa-brands fa-instagram"></i>ETCEvents</a>
                    </div>
                </figure>
              </div>
              <div class="col-lg-3 col-md-3 col-sm-6">
                <figure class="mb-0 insta-section-imgs">
                    <img src="{% static './assets/images/instagram/insta 2.jpg' %}" style="border: 3px solid white;"  alt="" class="img-fluid">
                    <div class="hover_box_plus">
                        <a href="https://www.instagram.com/etcevents2021/" target="_blank"><i class="fa-brands fa-instagram"></i>ETCEvents</a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <figure class="mb-0 insta-section-imgs insta-section-imgs-mb">
                    <img src="{% static './assets/images/instagram/insta 3.jpg' %}" style="border: 3px solid white;"  alt="" class="img-fluid">
                    <div class="hover_box_plus">
                        <a href="https://www.instagram.com/etcevents2021/" target="_blank"><i class="fa-brands fa-instagram"></i>ETCEvents</a>
                    </div>
                </figure>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6">
                <figure class="mb-0 insta-section-imgs insta-section-imgs-mb">
                    <img src="{% static './assets/images/instagram/insta 4.jpg' %}" style="border: 3px solid white;"  alt="" class="img-fluid">
                    <div class="hover_box_plus">
                        <a href="https://www.instagram.com/etcevents2021/" target="_blank"><i class="fa-brands fa-instagram"></i>ETCEvents</a>
                    </div>
                </figure> 
            </div>
          </div>
      </div>
    </section>

    <div class="footer-section">
        <div class="footer-inner">

            <div class="footer-msg floating-chat">
                <figure class="mb-0 footer-chat-img">
                    <img src="{% static 'assets/images/footer-chat-img.png' %}" alt="">
                </figure>
            </div>
            <div class="container">
                <div class="footer-content-box">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
                        <div class="col-lg-5 col-md-6 col-sm-12">
                            <h3 class="planning-h3">Let’s Start Planning<span id="etc_heading">!</span></h3>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="banner-btn discover-btn-banner">
                                <a href="{% url 'Contact' %}" class="text-decoration-none"><i
                                        class="fa fa-clipboard-list"></i>Make Reservations</a>
                            </div>
                            <div class="learn-btn">
                                <a href="{% url 'Contact' %}" class="text-decoration-none">learn more</a>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 d-lg-block d-none"></div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-5 col-lg-4 col-md-6 col-sm-12">
                        <div class="footer-right-box">

                            <figure class="footer-logo"><img src="{% static '667462c456f4a8000f668e3e.png' %}" alt=""
                                    class="img-fluid"></figure>

                            <p class="footer-section-text">Eventful Moments | Creating Unforgettable Experiences</p>
                            <ul class="list-unstyled footer-social-icons">
                                <li class="list-item">

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 d-xl-block d-none"></div>
                    <div class="col-xl-3 col-lg-4 col-md-2 col-sm-12 d-lg-block d-none">

                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 d-md-block d-none">
                        <div class="footer-list footer-link contact-list">
                            <div class="icon-list-box1">
                                <ul class="list-unstyled contact-us-ul">
                                    <li class="list-item">
                                        <i class="fa-sharp fa-solid fa-phone-volume footer-location3"></i>
                                        <p class="contact-title">Call Us: </p>
                                        <a href="tel:+91 9898451593" class="text-decoration-none footer-link-auto">+91
                                            98984 51593</a>
                                    </li>
                                    <li class="list-item">
                                        <i class="fa fa-envelope footer-location3"></i>
                                        <p class="contact-title">Email Us:</p>
                                        <a href="mailto:webmaster@example.com"
                                            class="text-decoration-none footer-link-auto">help@Bridely.com</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-lg-5 col-md-6 col-sm-12">

                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-1.12.1.min.js"></script>
    <script src="{% static 'assets/js/animations.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.js' %}"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="{% static 'assets/js/text-animations.js' %}"></script>
    <script src="{% static 'assets/js/carousel.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>
    <script src="https://unpkg.com/ityped@0.0.10"></script>
    <script src="{% static 'assets/js/type.js' %}"></script>
    <script src="{% static 'assets/js/custom-script.js' %}"></script>
    <script src="{% static 'assets/js/video-popup.js' %}"></script>
</body>

</html>